@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #060606;
    color:white;
}
a{
    text-decoration: none;
    color:white;
}

.outer{
    padding-top:32px;
    width:50%;
    margin:auto;
}
.main{
    padding-top: 16px;
    font-size: 14px;
}
i{
    padding:4px;
}

.card-header{
    display:flex;
    justify-content: space-between;
}

.card-header p{
    padding:8px 8px;
    min-width:80px;
}

.card{
    display:flex;
    justify-content: space-between;
    background-color: #161616;
    border-radius: 8px;
    margin:4px 0px;
    cursor:pointer;
}

.card:hover{
    background-color: #1d1d1d;
}

.card p{
    padding:8px 8px;
    min-width:80px;
}

.small-header{
    margin-top: 24px;
}

.small-header p{
    margin-top:8px;
    margin-bottom:2px;
    padding:0px;
    color:#818181;
}

.card1{
    display: flex;
    justify-content: start;

    
}

.card2{
    display: flex;
    justify-content: end;
    text-align: right;

}

.bold{
    color:#818181 !important;
}

.green-stock{
    color:#2bff24;
}

.red-stock{
    color:#ff2323;
}

.coincap{
    display: flex;
    padding-top:32px;
    justify-content: start;
}

.coincap p{
    min-width: 200px;
    margin:2px 0px;
}

.graph{
    padding-top:80px;
}

.sub{
    color:#818181;
}

.search{
    padding-top:32px;
    display: flex;
    justify-content: end;
}

.searchBar{
    width:320px;
    padding:12px 0px;
    background: none;
    color:#ffffff;
    border-radius: 8px;
    border:1.6px solid #818181;
    text-indent: 12px;
}

#myChart{

    margin:0px;
    padding:0px;
}

.dma{
    padding-top:80px;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

.dma p{
    padding:0px;
    margin:0px;
}

.what-is-dma{
    color:#575757;
    font-size: 14px;
    padding:48px 0px;
}

@media(max-width:1440px){
    .outer{
        width:80%;
    }
}

@media(max-width:455px){
    .outer{
        width:98%;
    }
    .symbol{
        min-width:40px;
    }
    .card p{
        padding:4px;
        min-width:60px;
    }
    .card-header p{
        padding:4px;
        min-width:60px;
    }
    .coincap p{
        min-width: 0px;
        margin:2px 0px;
        width:100%;
        font-size: 14px;
    }
    .coincap{
        justify-content: space-between;
    }
    .right{
        text-align:right;
    }
    .dma{
        max-width: none;
        font-size: 14px;
        
    }
    .dma p{
        padding-right:32px;
    }
    .searchBar{
        width:100%;

    }

}